<h1>メモアプリ</h1>
<form method="post" action="/memo/<%= @memo_id %>">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="title" value="<%= @title %>">
  <textarea name="body"><%= @body %></textarea>
  <button type="submit">変更</button>
</form>
