<header class="title-area">
  <h1 class="app-title">メモアプリ</h1>
  <a class="btn" href="/memo/new">追加</a>
</header>
<ul class="memo-list">
  <% @memos.each do |memo| %>
    <li><a href="/memo/<%= h(memo['id'].to_s) %>/show">
      <%= h(memo['title']) %>
    </a></li>
  <% end %>
</ul>
