<!doctype html>

<html>
<head>
  <meta charset="utf-8">

  <title>メモアプリ</title>
  <meta name="description" content="sinatra simple app">
  <meta name="author" content="kamiokan">

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<%= yield %>
</body>
</html>
