<h1>メモアプリ</h1>
<h2><%= @title %></h2>
<p><%= @body %></p>
<a href="/memo/<%= @memo_id %>/edit">変更</a>
<form method="post" action="/memo">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="id" value="<%= @memo_id %>">
  <input type="submit" value="削除">
</form>
